@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins',sans-serif;
    
    /* if poppins not found fall back on sans - serif */
}
body{
    background-color: aqua;
    width: 100%;
    height: 100VH;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
    /* margin: 5% 0 5% 0; */
}

.calculator{
    
    border: 2px solid #267b6e;
    padding: 25px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 5px 35px rgb(82, 86, 94);
    
}
h1{
    color: #f7f6f6;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 20px;
    background: transparent;
    background: linear-gradient(45deg,#59877c,#3a4452);
    height: auto;
    width: 320px;
}
input{
    margin-top: 5px;
    width: 320px;
    border: none;
    padding: 2px;
    padding-right: 10px;
    background: transparent;
    box-shadow: 0px -0px 15px rgba(243, 245, 245, 0.2);
    border-radius: 16px;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #f0e9e9;
}
input::placeholder{
    color: white;
}

button{
    border: none;
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: rgb(254, 255, 255);
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(5, 240, 240, 0.2);
    cursor: pointer;
}
.equal-btn{
    background-color: #5adaad;
}
.operator{
    color: #19f8d6df;
}
footer{
    color: #59877c;
    text-align: center;
    font-size: 12px;
}